@charset "utf-8";
/* 회원가입페이지 */
.registerTable input{
	height:4.5rem;
	margin : 0;
}

.registerTable tr{
	
	border-bottom: 1px solid #ddd;
}

.registerTable th{
	height:65px;
	width:25%;
	
}
.registerTable td{
	
	padding: 5px;
	
}
#address_tr input{
	margin: 5px 0;
}

#mem_id{
	width:60%;
}
.btnCheck{
	color:white;
	padding :8px; 
	margin-bottom: 5px;
}
#postcode{
	width:40%;
	padding-right: 2rem;
}

	
	
/*  */
.cartModifyBtn {
	margin: 0 50px;
}

.allTable {
	width: 100%;
	text-align: center;
}

.allTable tr td {
	border-top: 1px solid #ddd;
}

.allTable tr:nth-child(2n) {
	border-top: 1px solid #ddd;
	background-color: #eee;
}

.allTable button {
	background-color: #808080;
	color: white;
}

.cart-plus-minus {
	margin: 0 auto;
}

/* orderList */
html {
	font-size: 10px;
}
.tab-content{
	margin-top: 20px;
}
.orderFor p {
	margin: 0;
	font-size: 1.6rem;
}

.orderFor {
	width: 95%;
	margin-top: 2rem;
	border: 1px solid #ddd;
	padding: 2rem;
	border-radius: 1rem;
}

.orderForDisplay {
	display: flex;
	justify-content: space-between;
}
.orderForDisplay .btn-link{
	padding : 5px;
}
.orderForDisplay h3,h5{
	margin-bottom: 5px;
}

.orderInfo {
	border-right: 1px solid #ddd;
	padding: 2rem;
	width: 90%;
}

.orderProductFor {
	border: 1px solid #ddd;
	margin-top: 1rem;
	border-radius: 1rem;
	display: flex;
	justify-content: space-between;
}

.product_img {
	width: 6rem;
	height: 6rem;
}

.productInfo {
	width: 100%;
	margin-left: 2rem;
}

.productInfo p {
	width: 100%;
	margin:0;
}

.orderDisplay {
	width: 100%;
	display: flex;
	justify-content: space-between;
}


.orderQty {
	margin-left: 1rem;
}

.orderBtns {
	text-align: center;
	margin: auto;
	width: 50%;
}

.orderBtns button {
	font-size: 1.3rem;
	text-align: center;
	height: 4rem;
	/* display: inline-block; */
	margin: 0.5rem;
	width: 80%;
	border-radius: 1rem;
}


/* orderDetailView */
.orderDateStrong{
	font-size:2rem;
	margin-right: 10px;
	
}
.receiverInfo{
	padding-bottom: 10px;
	border-bottom: 1px solid #999;
	margin-top:30px;
}
.receiverInfo h5{
	padding-bottom: 10px;
	border-bottom: 3px solid black;
}

.tableInfoFtd{
	width:12rem;
	margin-right:20px;
}
@media screen and (max-width: 1200px) {
	html {
		font-size: 10px;
	}
	.orderBtns button {
		font-size: 1rem;
	}
	
}

 @media screen and ( max-width : 767px) {
	html {
		zoom: 0.9;
	}
	
} 

@media screen and (max-width: 576px) {
	html {
		zoom: 0.8;
		
	}
	.orderBtns button {
		line-height:2px;

		
	}
}
 @media screen and (max-width: 448px) {
	html {
		zoom:0.7;
	}
	
} 