.cartModifyBtn{

	margin : 0 50px;
}
.allTable{
	width:100%; 
	text-align: center;
	
	
}
.allTable tr td{
	border-top: 1px solid #ddd;
}
.allTable tr:nth-child(2n) {
	border-top: 1px solid #ddd;
    background-color: #eee;
  }
.allTable button{
	background-color: #808080;
	color: white;
}
.cart-plus-minus{
	
	margin: 0 auto;
}
.orderFor{
	width : 95%;
	margin-top : 20px;
	border : 1px solid #ddd;
	padding : 20px;
	border-radius: 10px;
}
.orderForDisplay{
	display:flex;
	justify-content: space-between;
}
.orderProductFor{
	border : 1px solid #ddd;
	margin-top : 20px;
	padding : 20px;
	border-radius: 10px;
}
.product_img{
	width : 80px;
	height: 80px;
}