.pageHead{
	display:flex;
	justify-content: space-between;
	margin: 0 20px;
}
.table-bordered .thWidth10{
	width:10%;
}
.table-bordered .thWidth15{
	width:15%;
}

.readOnlyText{
	border: none; 
	resize: none; 
	outline: none;
}

.productListImage{
	width:50px;
}


/* 페이징 */
.pageInfo{
      list-style : none;
      display: inline-block;
    margin: 50px 0 0 100px;      
  }
  .pageInfo li{
      float: left;
    font-size: 20px;
    margin-left: 18px;
    padding: 7px;
    font-weight: 500;
  }

   .active{
      background-color: #cdd5ec;
  }