<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sian.order.dao.OrderDAO">

	<insert id="orderInsert">
		<!-- <selectKey keyProperty="order_no" resultType="Long" order="BEFORE"> 
			SELECT seq_order_no.nextval FROM DUAL </selectKey> -->
		INSERT INTO tbl_order(order_no,mem_id,receiver_name,
		receiver_tel,receiver_addr1,order_request_msg)
		VALUES (seq_order_no.nextval,#{mem_id},
		#{receiver_name},#{receiver_tel},#{receiver_addr1},
		#{order_request_msg}
		)
	</insert>
	<insert id="orderDetailInsert">

		INSERT INTO tbl_order_detail(order_detail_no,order_no,
		product_no,order_qty,sub_total)
		VALUES (seq_order_detail_no.nextval,#{order_no},
		#{product_no},#{order_qty},#{sub_total}
		)
	</insert>
	
	<delete id="orderCartDelete" parameterType="Map">
		DELETE FROM tbl_cart
		WHERE product_no=#{product_no} AND mem_id=#{mem_id}
	</delete>
	
	<select id="getOrderNo" resultType="Long">
		SELECT order_no
		FROM (SELECT * FROM tbl_order ORDER BY order_date DESC)
		WHERE ROWNUM=1 AND mem_id=#{mem_id}
	</select>
	
	<select id="getOrder" resultType="com.sian.order.dto.OrderDTO">
		SELECT *
		FROM tbl_order
		WHERE order_no=#{order_no}
	</select>
	
	<select id="getOrderList" resultType="com.sian.order.dto.OrderDTO">
		SELECT *
		FROM tbl_order
		WHERE mem_id=#{mem_id}
	</select>
	
	<select id="getOrderDetailList" resultType="com.sian.order.dto.OrderDetailDTO">
		SELECT od.order_detail_no,od.order_no,
		od.order_qty,od.sub_total,
		pro.product_no,pro.product_name,
		pro.product_price,pro.product_thumb_img
		FROM tbl_order_detail od,tbl_product pro
		WHERE od.product_no=pro.product_no AND 
		order_no=#{order_no}
	</select>
	<delete id="orderDelete">
		DELETE FROM tbl_order
		WHERE order_no = #{order_no}
	</delete>
	<select id="getReviewView" resultType="com.sian.order.dto.OrderDetailDTO">
		SELECT pro.product_name,pro.product_thumb_img,od.order_detail_no
		FROM tbl_product pro,tbl_order_detail od
		WHERE pro.product_no = od.product_no
		AND od.order_detail_no=#{order_detail_no}
		
	</select>
	
</mapper>
