<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sian.product.dao.ProductDAO">
	<sql id="criteria">
		<if test="keyword!=null">
			WHERE product_name like concat('%',#{keyword},'%')
		</if>
	</sql>


 	<insert id="insert">
 		<selectKey keyProperty="product_no" resultType="int" order="BEFORE">
			select nextval(seq_product) from dual 
			
		</selectKey>
 	
 		INSERT INTO tbl_product(product_no,category_no,product_name,product_price,
 		product_content,product_detail,product_thumb_img)
 		VALUES (#{product_no},(
 		SELECT category_no FROM tbl_category WHERE category_name=#{category_name}
 		AND category_class='product'
 		)
 		,#{product_name},#{product_price},
 		#{product_content},#{product_detail},#{product_thumb_img})
 	</insert>
 	<select id="getList" resultType="com.sian.product.dto.ProductDTO">
		SELECT * 
		FROM tbl_product	
	</select>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) from tbl_product
		
		<include refid="criteria"></include>
		
	</select>
	<select id="getCategoryTotal" resultType="int">
		SELECT COUNT(*) from tbl_product
		WHERE category_no = #{category_no}
	</select>
	<select id="getListPaging" resultType="com.sian.product.dto.ProductDTO">
		<![CDATA[
			SELECT product_no,
 			product_name,product_price,product_hit,product_regdate,
	 		product_updatedate,product_thumb_img
 			FROM tbl_product
 			
 			]]>
	 		<include refid="criteria"></include>
	 	<![CDATA[
			ORDER BY product_no desc
			LIMIT #{pageNum},#{amount}
		]]>
		
	</select>
	
	<select id="selectProductList" resultType="com.sian.product.dto.ProductDTO">
		<![CDATA[
			SELECT product_no,cate.category_no,cate.category_name,
 			product_name,product_price,product_hit,product_regdate,
	 		product_updatedate,product_thumb_img
 			FROM tbl_product pro,tbl_category cate
 			WHERE pro.category_no=cate.category_no
 			AND cate.category_no=#{category_no}
			ORDER BY product_no desc
			LIMIT #{pageNum},#{amount}
		]]>
	</select>
	
	<update id="productModify">
		UPDATE tbl_product
		SET category_no=#{category_no},
		product_name=#{product_name},
		product_price=#{product_price},
		product_content=#{product_content},
		product_detail=#{product_detail},
		product_thumb_img=#{product_thumb_img},
		product_updatedate=sysdate()
		
		WHERE product_no=#{product_no}
		
	</update>
	
	
	
	<select id="memberProductList" resultType="com.sian.product.dto.ProductDTO">
		SELECT * 
		FROM tbl_product
		WHERE category_no=#{category_no}
		ORDER BY product_no DESC
	</select>
	
	<select id="getProduct" resultType="com.sian.product.dto.ProductDTO">
		SELECT product_no,
		ifnull((SELECT category_name FROM tbl_category cate,tbl_product pro
		WHERE product_no = #{product_no}
		AND cate.category_no=pro.category_no),'카테고리없음') category_name,
		product_name,product_price,product_detail,
		product_content,product_detail,product_regdate,
		product_updateDate,product_hit,product_thumb_img
		
		FROM tbl_product
		WHERE product_no =#{product_no}
	
		
	</select>
	
 	<select id="getProductNo" resultType="int">
 		SELECT product_no
 		FROM tbl_product
 		WHERE product_name=#{product_name}
 	</select> 
	
	<update id="productReadCount">
		UPDATE tbl_product
		SET product_hit = product_hit + 1
		WHERE product_no = #{product_no}
	</update>
	
	<delete id="productDelete">
		DELETE FROM tbl_product
		WHERE product_no=#{product_no}
	</delete>
</mapper>
