<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sian.qna.dao.QnaDAO">
	<insert id="insertQna" useGeneratedKeys="true" keyProperty="qna_no" parameterType="com.sian.qna.dto.QnaDTO">
		INSERT INTO tbl_qna(qna_no,category_no,order_no,mem_id,
		qna_title,qna_pwd,qna_writer,qna_tel,qna_content)
		VALUES(seq_qna_no.NEXTVAL,
		(SELECT category_no FROM tbl_category
		WHERE category_name=#{category_name}),
		
		#{order_no,jdbcType=VARCHAR},#{mem_id,jdbcType=VARCHAR},#{qna_title},#{qna_pwd},#{qna_writer},
		#{qna_tel},#{qna_content}
		)
		<selectKey keyProperty="qna_no" order="AFTER" resultType="long">
			SELECT seq_qna_no.CURRVAL FROM DUAL
		</selectKey>
	</insert>
	
	<select id="getTotal" resultType="int">
		SELECT COUNT(*) from tbl_qna
	</select>
	
	<select id="getQnaList" resultType="com.sian.qna.dto.QnaDTO">
	<![CDATA[
		SELECT qna_no,qna_title,cate.category_name,
		qna_status,qna_date,qna_writer,mem_id 
		FROM(
			SELECT  /*+ INDEX_DESC(tbl_qna pk_qna) */ 
			 ROWNUM AS rn,qna_no,qna_title,qna.category_no,cate.category_name,
			qna_status,qna_date,qna_writer,mem_id
			FROM tbl_qna qna,tbl_category cate 
			WHERE ROWNUM <= #{pageNum} * #{amount}  
			AND qna.category_no = cate.category_no) qna,tbl_category cate

		WHERE rn > (#{pageNum}-1) * #{amount}
		AND qna.category_no = cate.category_no
		ORDER BY qna_date DESC	
		]]>
	
		
	</select>
	
	<select id="qnaMemberList" resultType="com.sian.qna.dto.QnaDTO">
		<![CDATA[
		SELECT qna_no,qna_title,cate.category_name,
		qna_status,qna_date,qna_writer,mem_id 
		FROM(
			SELECT  /*+ INDEX_DESC(tbl_qna pk_qna) */ 
			 ROWNUM AS rn,qna_no,qna_title,qna.category_no,cate.category_name,
			qna_status,qna_date,qna_writer,mem_id
			FROM tbl_qna qna,tbl_category cate 
			WHERE ROWNUM <= #{pageNum} * #{amount}  
			AND qna.category_no = cate.category_no) qna,tbl_category cate
			AND mem_id=#{mem_id}
		WHERE rn > (#{pageNum}-1) * #{amount}
		AND qna.category_no = cate.category_no
		AND mem_id=#{mem_id}
			
		]]>
	</select>
	
	<select id="getQna" resultType="com.sian.qna.dto.QnaDTO">
		SELECT * FROM tbl_qna
		WHERE qna_no=#{qna_no}
	</select>
	
	<delete id="qnaDelete">
		DELETE FROM tbl_qna
		WHERE qna_no=#{qna_no}
	</delete>
</mapper>
